html {
	overflow: auto;
}
body {
	overflow: hidden;
	min-width: 540px;
}

/* ÉwÉbÉ_Å[ */
.wrap{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(Background_top.jpg) center / cover;
}

.Rogo{
    position: relative;
    width: 50%;
    left: 25%;
    top: 25vh;
}
