@charset "UTF-8";

/* ‘S‘Ì */
/* c‚ª2411px(Žb’è) */

html {
	overflow: auto;
}
body {
	overflow: hidden;
	min-width: 369px;
}

/* ƒwƒbƒ_[ */
.wrap{
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-height: 150vh;
    background: url(mb_background.jpg) center / cover;
}

.mb_rogo{
    position: absolute;
    width: 100%;
    top: 14.51%;
}
.pc_rogo{
    display: none;
}

.nextpic{
    width: 70%;
}

.next a:hover img { 
   opacity: 0.5;
 }

.next1 {
  position: absolute;
  top: 93%;
  left: 1%;
}

.next2{
   position: absolute;
   top: 93%;
   left: 35%;
}

.next3{
   position: absolute;
   top: 93%;
   right: -9%;
}
